@import 'src/styles';
.weekDayContainer{
    @include box($maxWidthPrimary, auto);
    @include flex(space-around, center, row);
    margin: 15px 0px;
    .days{
        @include box(31px, 31px);
        @include theme(none, $borderSolidSmall $borderColorSecondary, $borderRadiusLarge);
        @include text($fontColorPrimary, none, normal, $fontPrimary, $fontWeightSmall, 15px);
        @include flex(center, center, row);
    }
    .disabled{
      background-color: $borderColorQuaternary;
    }
    .active{
      background-color: $borderColorSecondary;
    }
}
#backDays{
    transform: rotate(90deg);
    width: 12px
}
#advanceDays{
    transform: rotate(270deg);
    width: 12px

}

.current{
    background-color: $borderColorSecondary;
}
.selected{
    background-color: $borderColorQuaternary;

}
