@import '../../../../styles.scss';

.navbar{
  position: sticky;
  top: 0;
  z-index: 2;
  height: 55px;
  width: 100vw;
  background-color: $bgColorPrimary;
  @include flex(center, center, column);
  #open{
    align-self: flex-end;
    width: 25px;
    font-size: 1.8em; 
    margin: 0px 13px 0px 0px;
    color: $fontColorPrimary
  }
}
