@import 'src/styles';
// get the icons name in https://fontawesome.com/icons

.box-input {
  @include flex(center, center, initial);
  @include theme(transparent, $borderSolidPrimary, $inputBoxHeigth/2);
  @include box($inputBoxWidth, $inputBoxHeigth);
  border-color: $borderColorPrimary;
  margin: $marginPrimary;
  max-width: $maxWidthSecondary;
  transition: $transitionPrimary;
  label {
      @include flex(center, center, initial);
      @include box(30px, 30px);
      padding: 6px;
      cursor: pointer;
      i{
          color: $iconSecondaryColor;
          @include box(14px, auto);
      }
  }

  .input {
    @include theme(transparent, none, 0);
    @include box($inputWidth, $inputHeigth);
    @include text($fontColorSecondary, none, normal, $fontPrimary, $fontWeightSecondary, $fontSizeTertiary);
    padding: 5px 8px;
    &:focus{
        @extend %outLineNone;
    }

    &::-webkit-input-placeholder {
      color: $fontColorSecondary;
      font-weight: $fontWeightPrimary;
    }

    &:-moz-placeholder {
      color: $fontColorSecondary;
      font-weight: $fontWeightPrimary;
    }

    &::-moz-placeholder {
      color: $fontColorSecondary;
      font-weight: $fontWeightPrimary;
    }

    &:-ms-input-placeholder {
      color: $fontColorSecondary;
      font-weight: $fontWeightPrimary;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
    }
  }
}
