@import 'src/styles';
.tableContainer{
    @extend %borderSpacingNone;
    @include box($maxWidthPrimary, auto);
    .thead{
        th{
            @include text($fontColorPrimary, none, normal, $fontPrimary, $fontWeightSmall, 14px);
            border-bottom:  $borderSolidSmall $borderColorPrimary;
            padding: 13px 0px;     
            background: black;
            &:not(:nth-child(3)){
                border-right:  $borderSolidSmall $borderColorSecondary;
            }
        }
    }
    .tbody{
        @include box($maxWidthPrimary, auto);
        background: black;
        &:nth-child(2n+0) {
            background: $bgColorQuinary;
        }
        td{
            @include flex(center, center, row);
            @include text($fontColorPrimary, none, normal,$fontPrimary, $fontWeightSmall, 12px);
            padding: 13px 0px;
        }   
    }
}