@import '../../../styles.scss';
.homeContainer{
    @include flex(center, center, column);
    @include box($maxWidthPrimary, $maxHeightPrimary);
    @extend %backgroundImage;
    h1{
        @include text($fontColorPrimary, none, normal, Raleway, 500, 35px);
        width: 60vw;
        z-index: 3;
    }
    app-button{
        z-index: 3;
    }
}

.overlay{
    position: fixed;
    top:0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.75);    
}