@import '../../../../styles.scss';

.modalContainer {
  @include flex(center, center, row);
  position: fixed;
  top: 100vh;
  transition: all ease-in-out 0.4s;
  z-index: 5;
  background-color: $bgColorTertiary;
  @include box(100vw, 100vh);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  #modal {
    @include flex(center, center, column);
    z-index: 6;
    text-align: center;
  }
  
  .modalDefault{
    @include theme(#FFFFFF, initial, 5px);
    @include box(85vw, 250px);
    max-width: 500px;
    padding: 36px 10px;
    @include text(#4B4B4B, null, null, Raleway, 500, 18px);
    line-height: 21px;
  }
}