<div id="manager-schedule">
    <app-header></app-header>

    <app-week
    (setWeekDay)="setWeekDay($event)"
    selectable=true
    ></app-week>

    <div class="container-hours">
      <app-checkbox
        (setHour)="setHour($event)"
        *ngFor="let hour of hours"
        [label]="hour.label"
        [value]="hour.value" >
      </app-checkbox>
    </div>

  <div class="row">
    <app-button
    (click)="[signup(), toggleModal()]">
      {{lang.REPEAT}}
    </app-button>

    <app-button
    (click)="[signup(), toggleModal()]">
      {{lang.SAVE}}
    </app-button>
  </div>

</div>
