@import 'src/styles';

#container{
  @include flex(initial, center, initial);
  height: 22px;
  margin: 5px 0;
}

#check{
  @include box(17px, 17px);
  border-radius: 9.5px;
  border: solid 2px white;
}

#toggle{
  // display: none
}

#label{
  @include text($fontColorPrimary, none, none, $fontPrimary, normal, $buttonFontSmall);
  margin-left: 15px;
}

#check:checked ~ #check{
  background-color: white
}
