@import './variables.scss';

%boxShadow{
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5);
}
%outLineNone{
    outline: none;
}
%hiddenOverflow{
    overflow: hidden;
}
%pointerCursor{
  cursor: pointer;
}
%listStyle{
    list-style: none;
}
%backgroundImage{
    background-image: url('/assets/img/ball.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
%borderSpacingNone{
    border-spacing: 0;
}
%textAlignCenter{
    text-align: center;
}
%positionAbsolute{
    position: absolute;
}

// PADDING TABLE
%paddingTablePrimary{
    padding: 13px 0px;
}
%paddingTableSecondary{
    padding: 26px 0px;
}