// BACKGROUND COLOR
$bgColorPrimary: rgba(23, 195, 225, 0.5);
$bgColorSecondary: rgba(0, 0, 0, 0.95);
$bgColorTertiary: rgba(0, 0, 0, 0.9);
$bgColorQuaternary: #123E07;
$bgColorQuinary: #303030;

// VARIABLES FONTS COLOR
$fontColorPrimary: #fff;
$fontColorSecondary: #BFBFBF;
$fontColorTertiary: #000;
$fontColorQuaternary: #0055FF;
$fontColorQuinary: #144807;

// VARIABLES FONTS THEME
$fontWeightPrimary: 600;
$fontWeightSecondary: 500;
$fontSizePrimary: 25px;
$fontSizeSecondary: 20px;
$fontSizeTertiary: 13px;
$fontSizeQuaternary: 1.2em;
$fontSizeQuinary: 12px;
$fontSizeSenary: 14px;

// VARIABLES FONTS
$fontPrimary: Raleway;
$fontSecondary: Philosopher;

//  VARIABLES BORDER
$borderSolidPrimary: 1px solid;
$borderSolidSeconary: 2px solid;
$borderRadiusPrimary: 20px;
$borderColorPrimary: #c4c4c4;
$borderColorSecondary: #144807;
$borderColorTertiary: #FFFFFF;

// VARIABLES MARGIN
$marginPrimary: 15px;

// VARIABLES PADDING


// VARIABLES ICONS
$incoPrimaryColor: #fff;
$iconSecondaryColor: #000;

// VARIABLES WIDTH
$maxWidthPrimary: 100vw;
$maxWidthSecondary: 90vw;

// VARIABLES HEIGHT
$maxHeightPrimary: 100vh;
$maxHeightSecondary: 90vh;

// VARIABLES TRANSITION
$transitionPrimary: .5s;
$transitionSeconary: 1s;
$transitionTertiary: 2s;

// VARIABLES BUTTON
$buttonPrimary: #0055FF;
$buttonSecondary: #32528E;
$buttonTertiary: #C2C2C2;
$buttonGreen: #3e990f;
$buttonBoxWidth: 300px;
$buttonBoxHeigth: 40px;

// VARIABLES INPUT
$inputBoxWidth: 300px;
$inputBoxHeigth: 40px;
$inputWidth: 230px;
$inputHeigth: 30px;
