$primary: rgb(167, 0, 0);
$secondary: rgb(216, 214, 72);

$buttonPrimary: #0055FF;
$buttonSecondary: #32528E;
$buttonTertiary: #C2C2C2;

$fontColorPrimary: #fff;
$fontColorSecondary: #000;

$borderRadiusPrimary: 20px;

$marginPrimary: 15px;