@import 'src/styles';
.schduleContainer{
    @include flex(flex-start, center, column);
    @include box($maxWidthPrimary, $maxHeightPrimary);
    @include theme($bgColorSecondary,none, 0);
    .schduleHeader{
        @include flex(center, center, row);
        @include box($maxWidthPrimary, auto);
        margin: 0px 0px 3px 0px;
        padding: 50px 0px 30px 0px;
        border-bottom: $borderSolidPrimary $borderColorSecondary;
        #whiteBack{
            position: absolute;
            left: 0;
            margin: 0px 0px 0px 23px;
        }
        h2{
            @include text($fontColorPrimary, none, normal, Raleway, 600, 22px);
        }
    }
    .scheduleNav{
        div{
            @include flex(space-between, center, row);
            div{
                @include flex(space-between, center, row);
                @include text($fontColorPrimary, none, normal, Raleway, 500, 18px);
                p{
                    padding: 12px;
                }
                img{
                    width: 13px;
                }
            }
        }
    }
}