@import '../../../../styles.scss';
.daysWeek{
    @extend %listStyle;
    @include box($maxWidthPrimary, auto);
    @include flex(center, center, row);
    @include theme($bgColorQuaternary,none, 0);
    li{
        @include flex(center, center, row);
        @include text($fontColorPrimary, none, normal, Raleway, 500, 13px);
        padding: 9px 0px;
        &:not(:last-child){
            p{
                border-right: 1px solid white;
                padding: 0px 10px;
            }
        }
        &:last-child{
            padding: 0px 10px;
        }
    }
}