<section class="registerContainer" [formGroup]="user">
  <p>{{lang.NEW_ACOUNT}}</p>
  <app-input
    formControlName="displayName"
    label=""
    placeholder="{{lang.PH_NAME}}">
  </app-input>
  <app-input
    formControlName="email"
    label=""
    placeholder="{{lang.PH_EMAIL}}"
    type="email"
    id="1">
  </app-input>
  <app-input
    formControlName="phoneNumber"
    label=""
    placeholder="{{lang.PH_TEL}}"
    type="number"
    id="3">
  </app-input>
  <app-input
    formControlName="team"
    label=""
    placeholder="{{lang.HEART_TEAM}}"
    id="6"
    bord="none"
    borderradius="0">
  </app-input>
  <hr>
  <app-input
    formControlName="password"
    label="password"
    iconLabel="unlock"
    placeholder="{{lang.PH_PASSWORD}}"
    id="7"
    type="password">
  </app-input>
  <app-input
    formControlName="confirmPassword"
    label="password"
    iconLabel="unlock"
    placeholder="{{lang.CONFIRM_PASSWORD}}"
    id="8"
    type="password">
  </app-input>
  <app-button
  (click)="[signup(), toggleModal()]">
    {{lang.CREATE_ACCOUNT}}</app-button>
</section>

<app-modal type="modalDefault">
  <p class="pb-10"> {{lang.CONGRATULATIONS}}<br> {{lang.MY_COURT_TEAM}}. <br>
  {{lang.WHAT_YOU_WANNA_DO}}</p>
  <app-button (click)="goTo('/agendar')" fontSize="16px" width="250px" height="40px" margin="15px 10px 10px">Agendar Horario</app-button>
  <app-button (click)="goTo('/')" fontSize="16px" width="250px" height="40px" margin="10px" type="green">Página Inicial</app-button>
</app-modal>