<div class="loginContainer">
  <img src="../../../assets/img/soccer-court.png" alt="logo">
  <app-input label="name" iconLabel="user" [placeholder]="lang.PH_NAME"></app-input>
  <app-input label="password" iconLabel="unlock" type ="password" id="1" [placeholder]="lang.PH_PASSWORD"></app-input>
  <app-button type = primary>{{lang.SIGN_IN}}</app-button>
  <app-button type = secondary (click)="loginSocial()">{{lang.LOGINFACEBOOK}}</app-button>
  <app-button type = terciary>{{lang.CREATE_ACCOUNT}}</app-button>
  <p>{{lang.FORGOT_PASSWORD}}<a routerLink="register">{{lang.CLICK_HERE}}</a></p>
</div>
