@import 'src/styles';

.contactContainer{
    @include flex(flex-start, center, column);
    @include box($maxWidthPrimary, $maxHeightPrimary);
    div{
        @include flex(center, center, row);
        @include box($maxWidthPrimary, auto);
        margin: 54px 0px 60px 0px;    
        #back{
            position: absolute;
            left: 0;
            margin: 0px 0px 0px 23px;            
        }
        h2{
            @include text($fontColorQuaternary, none, normal, Raleway, 600, 22px);
        }
    }
    app-button{
        margin: 54px 0px 0px 0px;    
    }
}