<section class="contactContainer">
  <div>
    <img id="back" src="../../../assets/img/back.png" alt="back" (click)="back()">
    <h2>Fale Conosco</h2>
  </div>
  <app-input [placeholder]="lang.PH_NAME"></app-input>
  <app-input [placeholder]="lang.PH_EMAIL"></app-input>
  <app-input [placeholder]="lang.PH_TEL"></app-input>
  <app-input [placeholder]="lang.PH_MESSAGE" bord="none" borderradius="0"></app-input>
  <app-button (click)="toggleModal()">Enviar</app-button>
</section>

<app-modal type="modalDefault">
  <p class="pb-10">{{lang.MENSAGE_SENDED}} <br> {{lang.WHAT_YOU_WANNA_DO}}</p>
  <app-button (click)="toggleModal()" width="250px" height="40px" margin="10px">Enviar uma nova mensagem</app-button>
  <app-button (click)="goTo('/')" width="250px" height="40px" margin="10px" type="green">Página Inicial</app-button>
</app-modal>
